In [1]:
from pycaret.regression import *

In [2]:
# importing dependecies
import pandas as pd
import numpy as np

In [3]:
def manipulate_data(dataset):


    # reading the data
    data = pd .read_csv(dataset)

    # convert hour to string
    data['hour'] = data.hour.astype('str')

    # create newdatetime data columns
    data["newdatetime"] = data['date'] + ' ' + data['hour'] + ':00'

    # convert the newdatetime column to data time
    data["newdatetime"] = pd.to_datetime(data["newdatetime"])

    # feature enginering
    data["hour_of_day"] = data["newdatetime"].dt.hour
    data["day_of_month"] = data["newdatetime"].dt.day
    data["month_of_year"] = data["newdatetime"].dt.month
    data["year"] = data["newdatetime"].dt.year
    data['quarter_of_year'] = data["newdatetime"].dt.quarter
    data['week_of_year'] = data["newdatetime"].dt.week
    data['day_of_year'] = data["newdatetime"].dt.dayofyear
    data['day_of_week'] = data["newdatetime"].dt.dayofweek

    # drop not needed columns 
    data.drop(["date", "hour", "newdatetime"], axis = 1, inplace = True)

    return data

In [4]:
df = manipulate_data("../data/train_E1GspfA.csv")
print(df.shape)

(18247, 9)

In [5]:
df.head(5)

,demand,hour_of_day,day_of_month,month_of_year,year,quarter_of_year,week_of_year,day_of_year,day_of_week
0,91,9,18,8,2018,3,33,230,5
1,21,10,18,8,2018,3,33,230,5
2,23,13,18,8,2018,3,33,230,5
3,104,14,18,8,2018,3,33,230,5
4,81,15,18,8,2018,3,33,230,5

In [6]:
exp_reg101 = setup(data = df, target = 'demand', session_id=123)

In [7]:
compare_models()

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=123, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [15]:
lightgbm = create_model('lightgbm')

In [17]:
lightgbm_f10 = create_model('lightgbm', fold=10)

In [18]:
print(lightgbm_f10)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=123, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [19]:
tuned_lightgbm = tune_model(lightgbm_f10)

In [20]:
tuned_lightgbm_iter10 = tune_model(lightgbm_f10, n_iter=10)

In [21]:
tuned_lightgbm_iter100 = tune_model(lightgbm_f10, n_iter=100)

In [22]:
tuned_lightgbm_iter100

LGBMRegressor(bagging_fraction=0.9, bagging_freq=2, boosting_type='gbdt',
              class_weight=None, colsample_bytree=1.0, feature_fraction=0.5,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=61, min_child_weight=0.001, min_split_gain=0.7,
              n_estimators=290, n_jobs=-1, num_leaves=40, objective=None,
              random_state=123, reg_alpha=0.2, reg_lambda=0.2, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [23]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [24]:
xgboost = create_model('xgboost', max_depth = 10)

ValueError: Estimator xgboost not available. Please see docstring for list of available estimators.