In [1]:
from pycaret.regression import *

In [2]:
# importing dependecies
import pandas as pd
import numpy as np

In [3]:
def manipulate_data(dataset):


    # reading the data
    data = pd .read_csv(dataset)

    # convert hour to string
    data['hour'] = data.hour.astype('str')

    # create newdatetime data columns
    data["newdatetime"] = data['date'] + ' ' + data['hour'] + ':00'

    # convert the newdatetime column to data time
    data["newdatetime"] = pd.to_datetime(data["newdatetime"])

    # feature enginering
    data["hour_of_day"] = data["newdatetime"].dt.hour
    data["day_of_month"] = data["newdatetime"].dt.day
    data["month_of_year"] = data["newdatetime"].dt.month
    data["year"] = data["newdatetime"].dt.year
    data['quarter_of_year'] = data["newdatetime"].dt.quarter
    data['week_of_year'] = data["newdatetime"].dt.week
    data['day_of_year'] = data["newdatetime"].dt.dayofyear
    data['day_of_week'] = data["newdatetime"].dt.dayofweek

    # drop not needed columns 
    data.drop(["date", "hour", "newdatetime"], axis = 1, inplace = True)

    return data

In [4]:
df = manipulate_data("../data/train_E1GspfA.csv")
print(df.shape)

(18247, 12)

In [5]:
df.head(5)

,date,hour,demand,newdatetime,hour_of_day,day_of_month,month_of_year,year,quarter_of_year,week_of_year,day_of_year,day_of_week
0,2018-08-18,9,91,2018-08-18 09:00:00,9,18,8,2018,3,33,230,5
1,2018-08-18,10,21,2018-08-18 10:00:00,10,18,8,2018,3,33,230,5
2,2018-08-18,13,23,2018-08-18 13:00:00,13,18,8,2018,3,33,230,5
3,2018-08-18,14,104,2018-08-18 14:00:00,14,18,8,2018,3,33,230,5
4,2018-08-18,15,81,2018-08-18 15:00:00,15,18,8,2018,3,33,230,5

In [ ]:
# drop column not needed

In [ ]:
exp_reg101 = setup(data = df, target = 'demand', session_id=123)